/*
***
* Variables
***
*/

:root {
  --soft-violet: hsl(273, 75%, 66%);
  --soft-blue: hsl(240, 73%, 65%);
  --white: hsl(0, 0%, 100%);
  --very-dark-text: hsl(237, 12%, 33%);
  --dark-text: hsl(240, 6%, 50%);
  --darkest-text: hsl(238, 29%, 16%);
  --light-gray: hsl(240, 5%, 91%);
}

/*
***
* General
***
*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.2rem;
  font-family: "Kumbh Sans", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(9, 9, 121);
  background: linear-gradient(
    180deg,
    var(--soft-violet) 0%,
    var(--soft-blue) 100%
  );
  padding: 12rem 0;
  position: relative;
  line-height: 1.5;
}

/*
***
* Accordion card
***
*/

.accordion {
  background-color: var(--white);
  width: 90%;
  max-width: 35rem;
  margin: 0 auto;
  border-radius: 2rem;
  position: relative;
  padding: 15rem 2rem 7rem 2rem;
  color: var(--very-dark-text);
}

@media screen and (min-width: 1000px) {
  .accordion {
    width: 90rem;
    max-width: 90rem;
    display: flex;
    flex-direction: row;
    padding: 0;
  }
}
@media screen and (min-width: 1000px) {
  .accordion__left {
    position: relative;
    flex: 1;
    overflow: hidden;
  }

  .accordion__right {
    flex: 1;
    padding: 7rem 3rem 12rem 0;
  }
}

.accordion__img {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-55%, -55%);
}

@media screen and (min-width: 1000px) {
  .accordion__img {
    display: block;
    position: absolute;
    top: 12%;
    left: -15%;
    transform: none;
    width: 40rem;
  }
}

.accordion__shadow {
  display: block;
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1000px) {
  .accordion__shadow {
    display: block;
    position: absolute;
    top: -60%;
    left: -130%;
    transform: none;
  }
}

.accordion__box {
  display: none;
}

@media screen and (min-width: 1000px) {
  .accordion__box {
    position: absolute;
    display: block;
    left: -10.5%;
    top: 40%;
    z-index: 10;
  }
}

.accordion__title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  color: var(--darkest-text);
  margin-bottom: 4rem;
}

.accordion__component {
  padding: 1rem 0.5rem;
  border-bottom: 1px solid var(--light-gray);
  cursor: pointer;
}

.accordion__component.active .accordion__question {
  color: var(--darkest-text);
  font-weight: 700;
}

.accordion__component.active .accordion__answer {
  display: block;
}

.accordion__answer {
  padding: 1rem 3rem 1rem 0;
  display: none;
}

.accordion__question {
  position: relative;
}

.accordion__arrow {
  position: absolute;
  top: 4px;
  right: 0;
}

.active .accordion__arrow {
  transform: rotate(180deg);
}

.attribution {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--darkest-text);
  padding: 2rem;
  color: var(--white);
  text-align: center;
}

.attribution a {
  color: var(--white);
  line-height: 1.5;
}
